<div class="cookie-banner js-cookie-banner">
    <div class="cookie-banner__container">
        <div class="cookie-banner__summary">
           <!--Cookie banner rich text-->
        </div>
        <div class="cookie-banner__button js-cookie-banner-button">Ok</div>
        <div class="cookie-banner__cancel js-cookie-banner-button">x</div>
    </div>
</div>