@using Graph.Components.CookieBanner
@model Graph.Components.CookieBanner.CookieBannerModel

<div class="cookie-banner js-cookie-banner">
	<div class="cookie-banner__container">
		<div class="cookie-banner__summary">
			@Html.Raw(HtmlTransformationService.Apply(Model.Message, "richtext"))
		</div>
		<button class="cookie-banner__button js-cookie-banner-ok">@Model.OkButton</button>
		<button class="cookie-banner__close js-cookie-banner-close">x</button>
	</div>
</div>
